<div class="container">
    <div class="table-container">
        <h3>Linked Issues</h3>
        <table>
            <tr>
                <th>Issue Key</th>
                <th>Name</th>
                <th>Research Project</th>
                <th>Link Type</th>
            </tr>
            {% for issue in issues[1:] %}
            <tr>
                <td><a href="https://infosim.atlassian.net/browse/{{ issue.key }}" target="_blank">{{ issue.key }}</a></td>
                <td>{{ issue.name }}</td>
                <td>{{ issue.research_project }}</td>
                <td>{{ issue.link_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% if pie_chart %}
    <div class="chart-container">
        <h3>Time Spent per Research Project - {{ assignee_name }}</h3>
        <img src="data:image/png;base64,{{ pie_chart }}" width="300" alt="Pie Chart of Time Spent" />
    </div>
    {% endif %}
</div>
